<!DOCTYPE html>
<html xml:lang="en-us" lang="en-us">

<head prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="HandheldFriendly" content="true" />
  	<meta name="ct" content="<%= ct %>">
  
  	<title>C-Insights</title>
  
  	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  	<!--<link rel="stylesheet" href="/css/watson-bootstrap-dark.css">
  	<link rel="stylesheet" href="/css/banner.css">
  	<link rel="stylesheet" href="/css/style.css">-->
  
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/normalize_3.0.2.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/wireframe.css" />
	
	<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>
	<script type="text/javascript" src="/js/demo.js"></script>
	<script type="text/javascript" src="/js/personality.js"></script>
	<script type="text/javascript" src="/js/string-utils.js"></script>
	<script type="text/javascript" src="/js/i18n.js"></script>
	<script type="text/javascript" src="/js/textsummary.js"></script>
	<script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
<header>
        <h1 class="wrapper">Consumer Insights</h1>
    </header>
    <div class="wrapper">
        <h1>Create New Report</h1>
        <form>
            <fieldset>
                <div class="input text">
                    <label>
                        <span>Client</span>
                        <input id="client-name" list="client-list" />
                        <datalist id="client-list">
                        	<option value="TessaTechArtist">TessaTechArtist</option>
                        </datalist>
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <ul class="tabs">
                    <li class="disabled" data-id="twitter">Twitter</li>
                    <li class="disabled" data-id="facebook">Facebook</li>
                    <li class="disabled" data-id="file-upload">File Upload</li>
                    <li data-id="text">Text</li>
                </ul>
                <div class="tabbed-sections">
                    <section id="twitter" class="tab hide">
                        <div class="input text">
                            <label>
                                <span class="label screen-reader">Username / Handle</span>
                                <input />
                            </label>
                        </div>
                        <div class="input select">
                            <label>
                                <span class="label screen-reader">Target</span>
                                <span class="select-wrapper">
                                    <select>
                                        <option value="" disabled hidden selected>Select One</option>
                                        <option value="self">This Username / Handle</option>
                                        <option value="followers">Followers of this Username / Handle</option>
                                    </select>
                                </span>
                            </label>
                        </div>
                    </section>
                    <section id="file-upload" class="tab hide">
                        <div class="input file">
                            <input id="file-upload-input" type="file" />
                            <label for="file-upload-input">BROWSE...</label>
                        </div>
                    </section>
                    <section id="text" class="tab hide">
                        <div class="input">
                            <p>A minimum of 3500 words and ideally 6000 words or more is needed to compute statistically significant results. See <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/science.shtml" target="_blank">the science behind the service</a>.</p>
                            <p>Ideally, the text should contain words used in every day life relating to personal experiences, thoughts and responses. See <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/guidance.shtml#optimal" target="_blank">usage guidance</a> for details.</p>
                        </div>
                        <div class="input textarea">
                            <label>
                                <span class="label screen-reader">Text Input</span>
                                <textarea></textarea>
                            </label>
                        </div>
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div class="captcha" style="display: none;">
                    <div data-sitekey="6LcRbQkTAAAAAGUFVbnuqDfse-XZASLZwoC34oJV" class="g-recaptcha"></div>
                </div>
                <button class="btn" type="submit">CREATE REPORT</button>
            </fieldset>
        </form>
        <div>
            <h2>API Information</h2>
            <ul>
                <li><a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights/api" target="_blank">API Reference</a></li>
                <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/" target="_blank">Documentation</a></li>
            </ul>
        </div>
    </div>
    <a id="trigger-modal" href="#modal" class="hide"></a>
    <div id="modal" class="modal">
        <h1>PLEASE WAIT...</h1>
        <div class="modal-content">
            <p></p>
        </div>
        <button class="modal-close btn">CANCEL</button>
    </div>
</body>
</html>